In [25]:
pip install dataframe-image

Collecting dataframe-imageNote: you may need to restart the kernel to use updated packages.
  Downloading dataframe_image-0.1.1-py3-none-any.whl (32 kB)
Collecting aiohttp
  Downloading aiohttp-3.8.1-cp37-cp37m-win_amd64.whl (551 kB)
Requirement already satisfied: matplotlib>=3.1 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (3.5.0)
Requirement already satisfied: pandas>=0.24 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (1.3.4)
Requirement already satisfied: requests in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (2.26.0)
Requirement already satisfied: nbconvert>=5 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (6.1.0)
Requirement already satisfied: beautifulsoup4 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (4.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (8.4.0)
Requirement already satisfied: numpy>=1.17 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (1.20.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (3.0.4)
Requirement already satisfied: jupyter-core in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (4.9.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.1.2)
Requirement already satisfied: defusedxml in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.7.1)
Requirement already satisfied: jinja2>=2.4 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (2.11.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.5.3)
Requirement already satisfied: traitlets>=5.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (5.1.1)
Requirement already satisfied: testpath in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (1.4.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.8.4)
Requirement already satisfied: nbformat>=4.4 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (5.1.3)
Requirement already satisfied: bleach in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (4.0.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (2.10.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from jinja2>=2.4->nbconvert>=5->dataframe-image) (1.1.1)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe-image) (6.1.12)
Requirement already satisfied: async-generator in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe-image) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe-image) (1.5.1)
Requirement already satisfied: tornado>=4.1 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe-image) (6.1)
Requirement already satisfied: pyzmq>=13 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe-image) (22.3.0)
Requirement already satisfied: pywin32>=1.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from jupyter-core->nbconvert>=5->dataframe-image) (302)
Requirement already satisfied: ipython-genutils in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.4->nbconvert>=5->dataframe-image) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.4->nbconvert>=5->dataframe-image) (3.2.0)
Requirement already satisfied: six>=1.11.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (1.16.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (21.2.0)
Requirement already satisfied: setuptools in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (58.0.4)
Requirement already satisfied: importlib-metadata in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (4.8.2)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (0.18.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.24->dataframe-image) (2021.3)

  WARNING: The script dataframe_image.exe is installed in 'C:\Users\ITSloaner.DESKTOP-R7CTL01\anaconda3\envs\PythonData\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from aiohttp->dataframe-image) (2.0.4)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-win_amd64.whl (121 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-win_amd64.whl (33 kB)
Requirement already satisfied: typing-extensions>=3.7.4 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from aiohttp->dataframe-image) (3.10.0.2)
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-win_amd64.whl (27 kB)
Requirement already satisfied: idna>=2.0 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from yarl<2.0,>=1.0->aiohttp->dataframe-image) (3.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from beautifulsoup4->dataframe-image) (2.3.1)
Requirement already satisfied: webencodings in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert>=5->dataframe-image) (0.5.1)
Requirement already satisfied: zipp>=0.5 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata->jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (3.6.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from requests->dataframe-image) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\itsloaner.desktop-r7ctl01\anaconda3\envs\pythondata\lib\site-packages (from requests->dataframe-image) (2021.10.8)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, aiohttp, dataframe-image
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 dataframe-image-0.1.1 frozenlist-1.3.0 multidict-6.0.2 yarl-1.7.2

In [26]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# import dataframe_image
import dataframe_image as dfi

In [27]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# what are the tables in the hawaii.sqlite db
Base.classes.keys()

['measurement', 'station']

In [28]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [29]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [30]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 6).all()
# june_temps

In [31]:
#  3. Convert the June temperatures to a list.
june_temps_list = [ temp.tobs for temp in june_temps]
june_temps_list[:5]

[78.0, 76.0, 78.0, 76.0, 77.0]

In [32]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(june_temps_list, columns=['June Temps'])
june_temp_df

      June Temps
0           78.0
1           76.0
2           78.0
3           76.0
4           77.0
...          ...
1695        79.0
1696        74.0
1697        74.0
1698        76.0
1699        75.0

[1700 rows x 1 columns]

In [35]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
# Use describe() method
june_temp_summary_stats = june_temp_df.describe()

# export as an image
dfi.export(june_temp_summary_stats, "Images/june_summary_stats.png")

june_temp_summary_stats

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [37]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 12).all()
# december_temps

In [38]:
# 7. Convert the December temperatures to a list.
december_temps_list = [ temp.tobs for temp in december_temps]
december_temps_list[:5]

[76.0, 74.0, 74.0, 64.0, 64.0]

In [39]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_temp_df = pd.DataFrame(december_temps_list, columns=['December Temps'])
december_temp_df

      December Temps
0               76.0
1               74.0
2               74.0
3               64.0
4               64.0
...              ...
1512            71.0
1513            71.0
1514            69.0
1515            65.0
1516            65.0

[1517 rows x 1 columns]

In [42]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_temp_summary_stats = december_temp_df.describe()

# export as an image
dfi.export(december_temp_summary_stats, "Images/december_summary_stats.png")

december_temp_summary_stats

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000